services:
  rails-app:
    build:
      context: .
      dockerfile: Dockerfile
    command: bin/dev
    volumes:
      - .:/app
      - bundle:/usr/local/bundle
      - node_modules:/app/node_modules
    ports:
      - "3000:3000"
    environment:
      TZ: Asia/Tokyo
      DATABASE_URL: postgresql://postgres:password@db:5432/devjourney_development
    depends_on:
      - db

  db:
    image: postgres:14
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: devjourney_development
    volumes:
      - pg-data:/var/lib/postgresql/data

volumes:
  pg-data:
  bundle:
  node_modules:
