<% if object.errors.any? %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-9">
        <div class="error-card mb-4">
          <div class="error-header p-4">
            <div class="error-header-content">
              <div class="error-icon">
                <i class="bi bi-exclamation-triangle" style="font-size: 22px; padding-bottom: 3px; color: white;"></i>
              </div>
              <div class="ps-2">
                <h3 class="fw-bold fs-6">入力内容に問題があります</h3>
                <h3 style="font-size: 0.875rem; color: #475569;"><%= object.errors.full_messages.length %>件のエラーを修正してください</h3>
              </div>
            </div>
          </div>
          <div class="error-body p-3">
            <div class="error-list">
              <% object.errors.full_messages.each do |message| %>
                <div class="error-item p-2">
                  <i class="bi bi-x error-item-icon"></i>
                  <span class="error-item-text"><%= message %></span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>